<html>
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table>
            <tr>
                <td>JAR/Class to upload:</td>
                <td><input type="file" name="file" accept=".class,.jar"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>

    <form method="POST" enctype="multipart/form-data" action="/jsonImport">
        <table>
            <tr>
                <td>Json File to upload:</td>
                <td><input type="file" name="json" accept=".json"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
    <a href="/jsonExport">Export data</a>
    <a href="/deleteAll">Delete all</a>
</div>
</body>
</html>